<nav class="nav">
  <div class="container">
    <div class="logo">
      <span>Kingsley</span>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li>
          <a id="len1" href="#about" class="hoverable" (click)="closeNav()"
            >About</a
          >
        </li>
        <li>
          <a id="len2" href="#portfolio" class="hoverable" (click)="closeNav()"
            >Portfolio</a
          >
        </li>
        <li>
          <a id="len3" href="#services" class="hoverable" (click)="closeNav()"
            >Services</a
          >
        </li>
        <li>
          <a id="len4" href="#contact" class="hoverable" (click)="closeNav()"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <span class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
</nav>

<section class="home" style="position: relative">
  <div>
    <svg
      width="100%"
      id="bg-svg"
      style="position: absolute; bottom: 0"
      viewBox="0 0 1440 500"
      xmlns="http://www.w3.org/2000/svg"
      class="transition duration-300 ease-in-out delay-150"
    >
      <defs>
        <linearGradient id="gradient">
          <stop offset="5%" stop-color="#fbfbfb"></stop>
          <stop offset="95%" stop-color="#fbfbfb"></stop>
        </linearGradient>
      </defs>
      <path
        d="M 0,500 C 0,500 0,250 0,250 C 71.55023923444975,223.244019138756 143.1004784688995,196.48803827751198 247,189 C 350.8995215311005,181.51196172248802 487.1483253588517,193.2918660287081 586,212 C 684.8516746411483,230.7081339712919 746.3062200956937,256.3444976076555 847,283 C 947.6937799043063,309.6555023923445 1087.6267942583734,337.33014354066984 1193,332 C 1298.3732057416266,326.66985645933016 1369.1866028708132,288.3349282296651 1440,250 C 1440,250 1440,500 1440,500 Z"
        stroke="none"
        stroke-width="0"
        fill="url(#gradient)"
        class="transition-all duration-300 ease-in-out delay-150"
      ></path>
    </svg>
  </div>

  <!-- Github and linkedin social links -->
  <div class="animated-socials-containers">
    <ul class="animate-links">
      <li>
        <a href="https://github.com/Mgbams" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-github-square"></span>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/kingsley-mgbams-33b781155/"
          target="_blank"
        >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-linkedin"></span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="name-and-job-title">
    <h3>Bienvenue!</h3>
    <span>Je suis&nbsp;</span>
    <span class="firstname">K</span>
    <span class="firstname">i</span>
    <span class="firstname">n</span>
    <span class="firstname">g</span>
    <span class="firstname">s</span>
    <span class="firstname">l</span>
    <span class="firstname">e</span>
    <span class="firstname">y</span>
    <div class="lastname-container">
      <span class="lastname">M</span>
      <span class="lastname">G</span>
      <span class="lastname">B</span>
      <span class="lastname">A</span>
      <span class="lastname">M</span>
      <span class="lastname">S</span>
    </div>
    <div class="info">Un développeur web créatif</div>
  </div>
  <!--My name and my job title-->
  <!--<div
    class="name-and-job-title"
    style="
      color: white;
      width: 100%;
      text-align: center;
      position: relative;
      bottom: 77vh;
    "
  >
    <h4>Bienvenue!</h4>
    <h1>
      Je suis
      <span class="my-name">MGBAMS Kingsley</span>
      <span class="my-job-title">développeur web</span>
    </h1>
  </div>-->

  <!--DOWNLOAD BUTTON-->
  <div style="position: relative; bottom: 73vh; margin-left: 45vw">
    <button class="btn-download">
      <span class="btn-text">Télécharger CV</span>
      <ul class="download-icon">
        <li>
          <a
            type="button"
            fileSaver
            [method]="'GET'"
            [fileName]="'Mgbams_CV.pdf'"
            [url]="'assets/mgbams_cv.pdf'"
            [header]="{ token: 'mgbams' }"
            [query]="{ pi: 1, name: 'mgbams' }"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="download-icon"
              style="color: white"
              class="download"
              >download</mat-icon
            >
          </a>
        </li>
      </ul>
    </button>
  </div>

  <!-- just to make scrolling effect possible -->
  <h2 class="myH2" style="position: relative; bottom: 80px">What is this ?</h2>
</section>

<div id="about">
  <h2 class="about-header">About</h2>
  <mat-card class="about-card">
    <mat-card-content>
      <div
        class="left-div wow slideInLeft"
        data-wow-duration="2s"
        data-wow-delay=".000001s"
      >
        <mat-chip-list aria-label="name" class="a-propos-div">
          <mat-chip class="a-propos-title"
            >À propos de <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moi</mat-chip
          >
        </mat-chip-list>
        <mat-vertical-stepper linear #stepper class="vertical-stepper">
          <mat-step label="Diplômes et Formations">
            <mat-list class="diplome-lists">
              <mat-list-item class="diplome-items">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>
                  <span style="color: #00887a">Développeur web/web mobile</span>
                  <br />
                  Depuis octobre 2019 <br />
                  M2i / LYON
                </div>
              </mat-list-item>

              <mat-list-item class="diplome-items">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>
                  <span style="color: #00887a">
                    Technicien de Maintenance <br />en informatique et
                    Réseau</span
                  >
                  <br />
                  D'octobre 2017 à septembre 2018 <br />
                  CNAM / LYON
                </div>
              </mat-list-item>

              <mat-list-item class="diplome-items">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line class="mat-line">
                  <span style="color: #00887a">Éducation Informatique </span
                  ><br />
                  D'octobre 2004 à juin 2009 <br />
                  UNN Nsukka / NIGERIA
                </div>
              </mat-list-item>
            </mat-list>
          </mat-step>

          <!--Expérience professionnelles-->

          <mat-step label="Expériences professionnelles">
            <mat-list class="experience-lists">
              <mat-list-item style="margin-bottom: 60px">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line style="padding-top: 40px">
                  <span style="color: #00887a">Développeur web full-stack</span
                  ><br />
                  D'août 2020 à octobre 2020<br />
                  A World to work <br />
                  42 Chemin du Moulin Carron,<br />
                  69130 ECULLY
                </div>
              </mat-list-item>

              <mat-list-item
                class="experience-items"
                style="margin-bottom: 50px"
              >
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>
                  <span style="color: #00887a">
                    Développeur web Back-end<br />
                  </span>
                  De Septembre 2014 à Novembre 2015<br />
                  OSHO3 TECHNOLOGIES <br />
                  Asowata Lane, Benin City, Nigeria
                </div>
              </mat-list-item>

              <mat-list-item class="experience-items">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>
                  <span style="color: #00887a">Développeur web Full-Stack</span
                  ><br />
                  D'Avril 2012 à Août 2014<br />
                  SARU TECH <br />84, Mission Road, Benin City, Nigeria
                </div>
              </mat-list-item>
            </mat-list>
          </mat-step>

          <mat-step label="Compétences">
            <!--competence lists-->
            <mat-list class="competence-lists">
              <mat-list-item>
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>Laravel / PHP</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>Angular / React</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>JavaScript / JQuery</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>HTML5 / CSS3</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>PostgreSQL / MySQL</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>Bootstrap / Ionic</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>WordPress / PrestaShop</div>
              </mat-list-item>
            </mat-list>
          </mat-step>
        </mat-vertical-stepper>

        <mat-horizontal-stepper linear #stepper class="horizontal-stepper">
          <mat-step label="Diplômes et Formations">
            <mat-list class="diplome-lists">
              <mat-list-item class="diplome-items">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>
                  <span style="color: #00887a">Développeur web/web mobile</span>
                  <br />
                  Depuis octobre 2019 <br />
                  M2i / LYON
                </div>
              </mat-list-item>

              <mat-list-item class="diplome-items">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>
                  <span style="color: #00887a">
                    Technicien de Maintenance <br />en informatique et
                    Réseau</span
                  >
                  <br />
                  D'octobre 2017 à septembre 2018 <br />
                  CNAM / LYON
                </div>
              </mat-list-item>

              <mat-list-item class="diplome-items">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line class="mat-line">
                  <span style="color: #00887a">Éducation Informatique </span
                  ><br />
                  D'octobre 2004 à juin 2009 <br />
                  UNN Nsukka / NIGERIA
                </div>
              </mat-list-item>
            </mat-list>
          </mat-step>

          <mat-step label="Expériences">
            <mat-list class="experience-lists">
              <mat-list-item style="margin-bottom: 60px">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line style="padding-top: 50px">
                  <span style="color: #00887a">Développeur web full-stack</span
                  ><br />
                  D'août 2020 à octobre 2020<br />
                  A World to work <br />
                  42 Chemin du Moulin Carron,<br />
                  69130 ECULLY
                </div>
              </mat-list-item>

              <mat-list-item
                class="experience-items"
                style="margin-bottom: 50px"
              >
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>
                  <span style="color: #00887a">
                    Développeur web Back-end<br />
                  </span>
                  De Septembre 2014 à Novembre 2015<br />
                  OSHO3 TECHNOLOGIES <br />
                  Asowata Lane, Benin City, Nigeria
                </div>
              </mat-list-item>

              <mat-list-item class="experience-items">
                <mat-icon mat-list-icon class="design-tab-icon"
                  >stream</mat-icon
                >
                <div mat-line>
                  <span style="color: #00887a">Développeur web Full-Stack</span
                  ><br />
                  D'Avril 2012 à Août 2014<br />
                  SARU TECH <br />
                  84, Mission Road, Benin City, Nigeria
                </div>
              </mat-list-item>
            </mat-list>
          </mat-step>
        </mat-horizontal-stepper>
      </div>

      <!--middle div-->
      <div class="middle-div">
        <!--profile photo here-->
      </div>

      <div
        class="right-div wow slideInRight"
        data-wow-duration="2s"
        data-wow-delay=".000001s"
      >
        <h5 class="qui-suis-je">qui suis je</h5>
        <mat-chip-list aria-label="name" class="my-name">
          <mat-chip>mgbams kingsley</mat-chip>
        </mat-chip-list>
        <p class="job-title"><b>Développeur web Full-stack</b></p>
        <p>
          Web Developers design and update websites and online applications
          using various programming languages and design tools. A regular
          example resume for this job mentions responsibilities such as creating
          webpage layouts, writing code, editing website content, and making
          adjustments based on client feedback.
        </p>
        <p>
          Those interested in a Web Developer position should emphasize in their
          resumes web design experience, content management knowledge,
          multimedia programming, time management, and creativity. Successful
          candidates usually hold at least and Associate's Degree in a relevant
          field, such as software
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions class="social-links">
      <div>
        <a
          href="https://www.linkedin.com/in/kingsley-mgbams-33b781155/"
          target="_blank"
          mat-button
        >
          <i class="fab fa-linkedin"></i>LinkedIn</a
        >
      </div>
      <div>
        <a href="https://github.com/Mgbams" mat-button target="_blank"
          ><i class="fab fa-github-square"></i>GitHub</a
        >
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<div id="services">
  <div class="col-lg-6 mx-auto">
    <h2
      class="service-offerts wow slideInLeft"
      data-wow-duration="3s"
      data-wow-delay=".000003s"
    >
      Services offerts
    </h2>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="services-tab-icon">computer</mat-icon>
          Web Design
        </ng-template>
        <mat-list>
          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="design-tab-icon">stream</mat-icon>
            <div mat-line>Création de conceptions de sites Web.</div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="design-tab-icon">stream</mat-icon>
            <div mat-line>
              Rencontre avec les clients pour discuter des exigences et / ou de
              l'avancement du projet.
            </div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="design-tab-icon">stream</mat-icon>
            <div mat-line>
              Créer des produits conviviaux, efficaces et attrayants.
            </div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="design-tab-icon">stream</mat-icon>
            <div mat-line>
              Développer des compétences et une expertise dans les logiciels /
              langages de programmation appropriés tels que HTML et Javascript.
            </div>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <!--Development Tab-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="services-tab-icon">auto_awesome_motion</mat-icon>
          Web Development
        </ng-template>
        <mat-list>
          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="development-tab-content-icon"
              >donut_large</mat-icon
            >
            <div mat-line>
              Une solide compréhension de l'interface utilisateur, de la
              compatibilité entre navigateurs, des fonctions Web générales et
              des normes.
            </div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="development-tab-content-icon"
              >donut_large</mat-icon
            >
            <div mat-line>
              Expertise approfondie et expérience pratique des applications Web
              et des langages de programmation tels que HTML, CSS, JavaScript,
              JQuery et API.
            </div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="development-tab-content-icon"
              >donut_large</mat-icon
            >
            <div mat-line>
              Bonne compréhension des principes de sécurité et de leur
              application aux applications de commerce électronique.
            </div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="development-tab-content-icon"
              >donut_large</mat-icon
            >
            <div mat-line>
              Conception, codage et modification de sites Web, de la mise en
              page à la fonction et selon les spécifications d'un client.
            </div>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <!--Responsive design tabs-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="services-tab-icon">tablet_android</mat-icon>
          Fully Responsive
        </ng-template>
        <mat-list>
          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="responsive-tab-content-icon"
              >eco</mat-icon
            >
            <div mat-line>
              Tirez parti des frameworks CSS existants tels que Materialise,
              Bootstrap pour créer des sites réactifs.
            </div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="responsive-tab-content-icon"
              >eco</mat-icon
            >
            <div mat-line>
              Immergé dans les principales techniques Web telles que les icônes
              SVG, les images réactives et les transitions CSS.
            </div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="responsive-tab-content-icon"
              >eco</mat-icon
            >
            <div mat-line>
              Travaillez directement avec les designers pour faire ressortir la
              meilleure expérience numérique.
            </div>
          </mat-list-item>

          <mat-list-item class="mat-list-item-word-wrap">
            <mat-icon mat-list-icon class="responsive-tab-content-icon"
              >eco</mat-icon
            >
            <div mat-line>
              Expérience de la fourniture de sites Web optimisés et testés sur
              plusieurs navigateurs.
            </div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!--Parallax starts here-->
<div class="parallax1"></div>
<div id="portfolio">
  <h2 class="three-d-text">Portfolio</h2>
  <div class="stacked-cards" style="padding-top: 50px">
    <!--REACT-->
    <div
      class="cards project-card1 wow slideInLeft"
      id="card1"
      (mouseenter)="animateCard1()"
      data-wow-duration="2s"
      data-wow-delay=".000004s"
    >
      <h3>React</h3>
      <h1>Projets</h1>
      <div class="card card__one">
        <a href="https://tabbed-experience.netlify.app/" target="_blank">
          <div class="card__bg"></div>
          <img
            class="card__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png"
          />
          <div class="card__text">
            <p class="card__title">Tabs</p>
          </div>
        </a>
      </div>
      <div class="card card__two">
        <a href="https://restaurant-menu-lists.netlify.app/" target="_blank">
          <div class="card__bg"></div>
          <img
            class="card__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_chihiro.png"
          />
          <div class="card__text">
            <p class="card__title">Restaurant Menu</p>
          </div>
        </a>
      </div>
      <div class="card card__three">
        <a href="https://personal-reviews.netlify.app/" target="_blank">
          <div class="card__bg"></div>
          <img
            class="card__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlcastle.png"
          />
          <div class="card__text">
            <p class="card__title">User Reviews</p>
          </div>
        </a>
      </div>
      <div class="card card__four">
        <a href="https://tour-venues.netlify.app/" target="_blank">
          <div class="card__bg"></div>
          <img
            class="card__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlcastle.png"
          />
          <div class="card__text">
            <p class="card__title">Tour venues</p>
          </div>
        </a>
      </div>
    </div>

    <!--ANGULAR-->
    <div
      class="cards2 project-card2 wow slideInRight"
      id="card2"
      data-wow-duration="2s"
      data-wow-delay=".000004s"
    >
      <h3>Angular</h3>
      <h1>Projets</h1>
      <div class="card card__one">
        <div class="card__bg2"></div>
        <img
          class="card__img2"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png"
        />
        <div class="card__text">
          <p class="card__title">Princess Mononoke</p>
        </div>
      </div>
      <div class="card card__two">
        <div class="card__bg2"></div>
        <img
          class="card__img2"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_chihiro.png"
        />
        <div class="card__text">
          <p class="card__title">Spirited Away</p>
        </div>
      </div>
      <div class="card card__three">
        <div class="card__bg2"></div>
        <img
          class="card__img2"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlcastle.png"
        />
        <div class="card__text">
          <p class="card__title">Howl's Moving Castle</p>
        </div>
      </div>
    </div>

    <!--LARAVEL-->
    <div
      class="cards2 project-card2 wow slideInLeft"
      id="card2"
      style="margin-top: 40px"
      data-wow-duration="2s"
      data-wow-delay=".000004s"
    >
      <h3>Laravel</h3>
      <h1>Projets</h1>
      <div class="card card__one">
        <div class="card__bg2"></div>
        <img
          class="card__img2"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png"
        />
        <div class="card__text">
          <p class="card__title">Princess Mononoke</p>
        </div>
      </div>
      <div class="card card__two">
        <div class="card__bg2"></div>
        <img
          class="card__img2"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_chihiro.png"
        />
        <div class="card__text">
          <p class="card__title">Spirited Away</p>
        </div>
      </div>
      <div class="card card__three">
        <div class="card__bg2"></div>
        <img
          class="card__img2"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlcastle.png"
        />
        <div class="card__text">
          <p class="card__title">Howl's Moving Castle</p>
        </div>
      </div>
    </div>

    <!--PHP-->
    <div
      class="cards project-card1 wow slideInRight"
      style="margin-top: 40px"
      id="card1"
      (mouseenter)="animateCard1()"
      data-wow-duration="2s"
      data-wow-delay=".000004s"
    >
      <h3>PHP</h3>
      <h1>Projets</h1>
      <div class="card card__one">
        <a href="https://tabbed-experience.netlify.app/" target="_blank">
          <div class="card__bg"></div>
          <img
            class="card__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png"
          />
          <div class="card__text">
            <p class="card__title">Tabs</p>
          </div>
        </a>
      </div>
      <div class="card card__two">
        <a href="https://restaurant-menu-lists.netlify.app/" target="_blank">
          <div class="card__bg"></div>
          <img
            class="card__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_chihiro.png"
          />
          <div class="card__text">
            <p class="card__title">Restaurant Menu</p>
          </div>
        </a>
      </div>
      <div class="card card__three">
        <a href="https://personal-reviews.netlify.app/" target="_blank">
          <div class="card__bg"></div>
          <img
            class="card__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlcastle.png"
          />
          <div class="card__text">
            <p class="card__title">User Reviews</p>
          </div>
        </a>
      </div>
      <div class="card card__four">
        <a href="https://tour-venues.netlify.app/" target="_blank">
          <div class="card__bg"></div>
          <img
            class="card__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlcastle.png"
          />
          <div class="card__text">
            <p class="card__title">Tour venues</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="parallax2"></div>
<div class="contact-form-container" id="contact">
  <h1 class="three-d-text" id="contact-me-title">Contactez moi</h1>
  <div class="container-form-flex">
    <div class="contact-details">
      <!--phone-->
      <div class="phone-container chips-spacer">
        <h5>PHONE&nbsp;:</h5>
        <p>
          <mat-chip-list aria-label="Numéro de téléphone">
            <mat-chip color="accent" class="phone">+337 82 48 59 57</mat-chip>
          </mat-chip-list>
        </p>
      </div>

      <!--Address-->
      <div class="address-container chips-spacer">
        <h5>ADRESSE&nbsp;:</h5>
        <p>
          <mat-chip-list aria-label="Adresse">
            <mat-chip color="accent" class="adress"
              >3 Rue Auguste Chollat, <br />
              69008 Lyon FRANCE</mat-chip
            >
          </mat-chip-list>
        </p>
      </div>

      <!--eMAIL-->
      <div class="email-container chips-spacer">
        <h5>EMAIL&nbsp;:</h5>
        <p>
          <mat-chip-list aria-label="email">
            <mat-chip color="accent" class="adress">cmgbams@gmail.com</mat-chip>
          </mat-chip-list>
        </p>
      </div>
    </div>

    <!--Contact me form-->
    <form
      class="contact-form"
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="name-email-container">
        <!--Name-->
        <mat-form-field class="name" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Ex. Name"
            required
          />
          <!-- error -->
          <mat-error *ngIf="errorHandling('name', 'required')">
            You must provide a<strong> name</strong>
          </mat-error>
        </mat-form-field>

        <!--Email-->
        <mat-form-field class="email" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Ex. king@example.com"
            required
          />
          <!-- error -->
          <mat-error
            *ngIf="
              (!contactForm.controls['email'].valid &&
                contactForm.controls['email'].touched) ||
              !contactForm.valid
            "
          >
            {{ getErrorEmail() }}
          </mat-error>
        </mat-form-field>
      </div>

      <!--Subject-->
      <div class="subject">
        <mat-form-field class="subject" appearance="outline">
          <mat-label>Sujet</mat-label>
          <input
            matInput
            type="text"
            formControlName="subject"
            placeholder="Ex. Sujet"
            required
          />
          <!-- error -->
          <mat-error *ngIf="errorHandling('subject', 'required')">
            You must provide a<strong> subject</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <!--message-->
      <div>
        <mat-form-field class="message" appearance="outline">
          <mat-label>Laissez un message</mat-label>
          <textarea
            matInput
            formControlName="message"
            placeholder="Ex. Je vous contacte..."
            required
            cdkTextareaAutosize
            cdkAutosizeMinRows="8"
            cdkAutosizeMaxRows="15"
          ></textarea>
          <!-- error -->
          <mat-error *ngIf="!contactForm.controls['message'].valid">
            Message field must be atleast 5 characters.
          </mat-error>
        </mat-form-field>
      </div>

      <!--Send button-->
      <div>
        <button mat-raised-button class="send-button" type="submit">
          <mat-icon class="mat-icon-send">send</mat-icon>
          Envoyer
        </button>
      </div>
    </form>

    <!--Spinner during form submission-->
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color=" #00887a"
      type="square-jelly-box"
      [fullScreen]="true"
    >
      <p style="color: white">Sending...</p>
    </ngx-spinner>
  </div>
</div>

<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>
