@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}

/* Navbar section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 100;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.nav div.logo a:hover {
  color: #00e676;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 1.5rem;
}

.nav div.main_list ul li a:hover {
  color: #00e676;
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
  background-position: center top;
  background-size: cover;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  //About section
  .about-card {
    mat-card-content {
      display: flex;
      flex-direction: column;
      div {
        width: 100% !important;
      }
    }
  }

  //projects
  .stacked-cards {
    display: flex;
    flex-direction: column;

    .cards,
    .cards2 {
      width: 100% !important;
    }

    .cards2 {
      margin-top: 30px;
    }
  }

  //Contact me
  .contact-form-container {
    max-width: 100%;
    overflow-x: hidden;

    .container-form-flex {
      display: flex;
      flex-direction: column;

      .contact-details,
      form {
        width: 100%;
      }

      form {
        .subject,
        .message,
        .name,
        .email {
          display: block;
          width: 80%;
          margin: auto;
        }
      }

      .contact-details {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 30%;

        h5 {
          color: white;
        }

        .phone {
          padding: 25px 20px;
        }
      }
    }
  }

  .navTrigger {
    display: block;
  }
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

//Just added
.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
  transform: translateY(-5px);
}
.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

//wave
svg {
  border-bottom: none !important;
}

//parallax
.parallax1 {
  /* The image used */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1531747056595-07f6cbbe10ad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1604654894611-6973b376cbde?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//Stacked cards
.stacked-cards {
  h1 {
    color: #3e3e42;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 30px;
    transform: translateZ(35px);
  }

  h3 {
    color: #eb285d;
    font-size: 16px;
    margin-bottom: 6px;
    transform: translateZ(25px);
  }

  .project-card1,
  .project-card2 {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
    display: inline-block;
    padding: 30px 35px;
    perspective: 1800px;
    text-align: left;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    width: 45%;
  }
  .cards {
    transform: rotateX(11deg) rotateY(16.5deg);
  }

  //Flip the card another direction
  .cards2 {
    transform: rotateX(11deg) rotateY(-16.5deg);
  }

  .card {
    border-radius: 15px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
    // cursor: pointer;
    display: inline-block;
    height: 250px;
    overflow: hidden;
    perspective: 1200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translatez(35px);
    transition: transform 200ms ease-out;
    width: 23%; //sizes of the individual projects
    text-align: center;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .card__img,
  .card__img2 {
    position: relative;
    height: 100%;
  }

  .card__bg,
  .card__bg2 {
    bottom: -50px;
    left: -50px;
    position: absolute;
    right: -50px;
    top: -50px;
    transform-origin: 50% 50%;
    transform: translateZ(-50px);
    z-index: 0;
  }

  .card__one {
    .card__img,
    .card__img2 {
      top: 14px;
      right: -10px;
      height: 110%;
    }
    .card__bg,
    .card__bg2 {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_monobg.jpg")
        center / cover no-repeat;
    }
  }

  .card__two {
    .card__img,
    .card__img2 {
      top: 25px;
    }
    .card__bg {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_spirited.jpg")
        center / cover no-repeat;
    }
  }

  .card__three {
    .card__img,
    .card__img2 {
      top: 5px;
      left: -4px;
      height: 110%;
    }
    .card__bg,
    .card__bg2 {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlbg.jpg")
        center / cover no-repeat;
    }
  }

  .card__text {
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.55) 100%
    );
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .card__title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 3px;
  }

  .notice {
    background: gold;
    border-top-left-radius: 6px;
    bottom: 0;
    font-family: monospace;
    font-size: 14px;
    padding: 8px 10px;
    position: absolute;
    right: -20px;
  }

  .twitter__link {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 12px;
    z-index: -1;
    background: #00aced;
    border-radius: 20px;
    height: 30px;
    text-decoration: none;
    padding-right: 10px;
    justify-content: space-between;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    width: 74px;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  .twitter__icon {
    height: 30px;
  }
}

// Contact form
.contact-form-container {
  padding-top: 50px;

  background-color: #222629;
  width: 100%;
  h1 {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 50px;
    color: #00887a;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }

  h1:hover {
    color: white;
  }
}
.name-email-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

mat-label {
  font-size: 0.8rem;
}
input {
  font-size: 1.2rem;
  color: white;
}
.name,
.email {
  display: block;
  width: 250px;
}
.subject,
.message {
  display: block;
  width: 80%;
  margin: auto;
}
.message {
  color: white;
}
.mat-icon-send {
  font-size: 16px;
  position: relative;
  top: 3px;
}
.send-button {
  float: right;
}
.container-form-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  justify-content: space-between;

  .contact-details {
    width: 40%;
    padding-left: 20px;
    padding-top: 20px;
    background: linear-gradient(
        0deg,
        rgba(84, 47, 52, 0.3),
        rgba(84, 47, 52, 0.3)
      ),
      url("https://images.unsplash.com/photo-1507730961199-996c3e6ebdde?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1487&q=80")
        center / cover no-repeat;
    h5 {
      color: #00887a;
      font-size: 0.8rem;
    }

    .adress {
      padding: 25px 20px;
    }
  }

  .contact-form {
    margin: auto;
    width: 50%;
    padding: 50px 50px;
    border: 1px inset #542f34;
    background-color: #542f34;
  }

  .chips-spacer {
    margin-bottom: 25px;
  }
}

#services {
  margin-bottom: 50px;

  .services-tab-icon {
    color: #542f34;
    font-size: 1.8rem;
    margin-right: 20px;
  }
  mat-tab:not(:last-child) {
    margin-right: 50px;
  }
  h2 {
    color: #00887a;
    font-size: 3rem;
    padding: 40px 0px;
    text-align: center;
  }
}

// Services
.responsive-tab-content-icon {
  color: #00887a;
}

.development-tab-content-icon {
  color: #05386b;
}

.design-tab-icon {
  color: #46344e;
}

/**Formatting mat-list-item to avoid cutting words and adding ellipses**/
.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  margin-bottom: 20px;
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}

//About section
.about-card {
  width: 100% !important;

  mat-card-content {
    display: flex;
    justify-content: space-between;
    div {
      width: 32%;
    }

    .left-div {
      h2 {
        font-size: 2rem;
      }
    }

    .right-div {
      mat-chip,
      h5 {
        text-transform: uppercase;
      }

      h5 {
        font-size: 1.4rem;
        letter-spacing: 1.7px;
      }
      mat-chip {
        font-size: 2rem;
        padding: 30px 30px;
        background-color: palevioletred;
        color: white;
      }
      .job-title {
        margin-top: 20px;
      }
    }
  }
}
